* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font-texto: 'Arial', sans-serif;
    --font-destaque: 'Quicksand', sans-serif;
    --bege: #F8EFE8;
    --bordo: #6A1718;
    --rose: #9b8585;
    --preto: #3b3b3b8c; 
    --back-rosa: #f7ddddd8;
    --back-branco: #ffffffd8;
}

body {
    font-family: var(--font-texto);
    background-color: var(--bege);
}

header {
    padding: 2em;
}

h2 {
    font-family: var(--font-destaque);
    text-align: center;
    letter-spacing: 4px;
    color: var(--bordo);
    font-size: 2em;
    padding-bottom: 0.5em;
    text-shadow: 4px 4px 6px #3131313e;

}

header > p {
    text-align: center;
    color: var(--rose);
    letter-spacing: 2px;
    font-size: 1.2em;
}

.navs {
    background-color: var(--back-rosa);
}

.artigos {
    color: var(--rose);
    text-indent: 12px;
    padding: 25px;
    background-color: var(--back-branco);
    line-height: 1.5em;
}

.art_ingred,
.art_preco {
    display: none;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0px 20px;
}

.btn_navs {
    border: none;
    cursor: pointer;
    background-color: var(--back-rosa);
    color: var(--bordo);
    font-size: 1.2em;
    padding: 1em;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: var(--font-destaque);
}

.btn_navs:hover {
    color: #75191bb1;
}

.navs_e_paragrafos {
    width: 700px;
    box-shadow: 4px 4px 6px #3131313e;
}

.navs {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

img {
    width: 200px;
    height: 250px;
    border-radius: 2px;
    box-shadow: 4px 4px 6px #3131313e;
    border-radius: 5px;
}

/* usando o responsivo - celular e tablets */
@media screen and (max-width: 920px) and (min-width: 200px) {
    main {
        display: flex;
        flex-direction: column;
    }
    img {
        margin: auto;
        padding-bottom: 10px;
    }
    .navs_e_paragrafos {
        margin: auto;
        width: auto;
        margin: 20px;
    }
}

